@use '../abstracts/functions' as *;

.site-footer {
    background-color: get-color(gray-900);
    color: get-color(white);
    padding: space(xl) 0;

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: space(lg);
        margin-bottom: space(lg);
    }

    &__brand {
        font-size: font-size(lg);
        margin-bottom: space(sm);
    }

    &__title {
        font-size: font-size(md);
        margin-bottom: space(sm);
    }

    &__text {
        font-size: font-size(sm);
        color: get-color(gray-300);

        a {
            color: get-color(white);
            text-decoration: none;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: space(xs);

            a {
                color: get-color(gray-300);
                text-decoration: none;

                &:hover {
                    color: get-color(white);
                }
            }
        }
    }

    &__bottom {
        padding-top: space(md);
        border-top: 1px solid get-color(gray-700);
        font-size: font-size(xs);
        color: get-color(gray-400);
        text-align: center;
    }

    &__social {
        display: flex;
        gap: space(sm);
        margin-top: space(md);
    }

    &__social-link {
        font-size: font-size(xs);
        color: get-color(gray-300);
        text-decoration: none;

        &:hover {
            color: get-color(white);
        }
    }
}