// rem(), fluid(), calc
@function color($key) {
    @if map-has-key($colors, $key) {
        @return map-get($colors, $key);
    }

    @error "Color `#{$key}` not found in $colors map.";
}

@function space($key) {
    @if map-has-key($spacing, $key) {
        @return map-get($spacing, $key);
    }

    @error "Spacing `#{$key}` not found in $spacing map.";
}

@function font-size($key) {
    @if map-has-key($font-sizes, $key) {
        @return map-get($font-sizes, $key);
    }

    @error "Font size `#{$key}` not found in $font-sizes map.";
}