// media queries, container
@mixin respond($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    @else {
        @error "Breakpoint `#{$breakpoint}` not found.";
    }
}

@mixin container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: space(md);
}