// light / dark
:root {
    --color-bg: #{color(white)};
    --color-text: #{color(gray-900)};
    --color-primary: #{color(primary)};
}

[data-theme='dark'] {
    --color-bg: #{color(gray-900)};
    --color-text: #{color(gray-100)};
    --color-primary: #{color(primary)};
}