@use 'sass:map';

/* =========================
   BREAKPOINTS
========================= */

$breakpoints: (
  xs: 360px,
  sm: 430px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
);

/* =========================
   DOWN (max-width)
========================= */

@mixin breakpoint-down($key) {
  @if map.has-key($breakpoints, $key) {
    @media (max-width: map.get($breakpoints, $key)) {
      @content;
    }
  }

  @else {
    @error "Breakpoint `#{$key}` not found.";
  }
}

/* =========================
   UP (min-width)
========================= */

@mixin breakpoint-up($key) {
  @if map.has-key($breakpoints, $key) {
    @media (min-width: map.get($breakpoints, $key)) {
      @content;
    }
  }

  @else {
    @error "Breakpoint `#{$key}` not found.";
  }
}