@use "sass:map";

$breakpoints: (
  xs: 360px,
  sm: 576px,
  md: 768px,
  lg: 1025px,
  xl: 1200px,
  xxl: 1400px
);

@mixin down($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (max-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  @else {
    @error "Breakpoint `#{$breakpoint}` nu există în $breakpoints.";
  }
}

@mixin up($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  @else {
    @error "Breakpoint `#{$breakpoint}` nu există în $breakpoints.";
  }
}