@use 'sass:map';

/* =========================
   BREAKPOINTS (device-based)
========================= */

$breakpoints: (
  xs: 360px,
  // telefoane mici (iPhone SE, Android small)
  sm: 430px,
  // telefoane mari (iPhone Pro / Pro Max)
  md: 768px,
  // mobile landscape / tablet mic
  lg: 1024px,
  // tablet mare / laptop mic
  xl: 1280px // desktop standard
);


/* =====================================
   DOWN (max-width)
===================================== */

@mixin breakpoint-down($key) {
  @if map.has-key($breakpoints, $key) {
    @media (max-width: map.get($breakpoints, $key)) {
      @content;
    }
  }

  /* stylelint-disable-next-line scss/at-else-empty-line-before */
  @else {
    @error "Breakpoint `#{$key}` not found.";
  }
}

/* =====================================
   UP (min-width)
===================================== */

@mixin breakpoint-up($key) {
  @if map.has-key($breakpoints, $key) {
    @media (min-width: map.get($breakpoints, $key)) {
      @content;
    }
  }

  /* stylelint-disable-next-line scss/at-else-empty-line-before */
  @else {
    @error "Breakpoint `#{$key}` not found.";
  }
}