@use 'sass:map';
@use './variables' as *;



/* =========================
   SPACING
   ========================= */

@function space($key) {
  @if map.has-key($spacing, $key) {
    @return map.get($spacing, $key);
  }

  @error "Spacing `#{$key}` not found in $spacing map.";
}

/* =========================
   TYPOGRAPHY
   ========================= */

@function font-size($key) {
  @if map.has-key($font-sizes, $key) {
    @return map.get($font-sizes, $key);
  }

  @error "Font size `#{$key}` not found in $font-sizes map.";
}

@function weight($key) {
  @if map.has-key($font-weights, $key) {
    @return map.get($font-weights, $key);
  }

  @error "Font weight `#{$key}` not found in $font-weights map.";
}

/* =========================
   OVERLAYS
   ========================= */

@function overlay($key) {
  @if map.has-key($overlays, $key) {
    @return map.get($overlays, $key);
  }

  @error "Overlay `#{$key}` not found in $overlays map.";
}

/* =====================================
   RADIUS
===================================== */

@function radius($key) {
  @if map.has-key($radii, $key) {
    @return map.get($radii, $key);
  }

  @error "Radius `#{$key}` not found in $radii map.";
}