@use './functions' as *;
@use "./breakpoints" as *;

/* =====================================
   CONTAINER
===================================== */
@mixin container {
  max-width: 1320px;
  margin-inline: auto;
  padding-inline: space(sm);
}

/* =====================================
   MEDIA MAX (EXISTENT – NU ATINGEM)
===================================== */
@mixin media-max($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @if $value {
    @media (max-width: ($value - 1)) {
      @content;
    }
  }

  @else {
    @error "Breakpoint `#{$breakpoint}` nu există în $breakpoints.";
  }
}

/* =====================================
   MEDIA (NOU – STANDARD PROIECT)
   media(md) => min-width: md
===================================== */
@mixin media($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @if $value {
    @media (min-width: $value) {
      @content;
    }
  }

  @else {
    @error "Breakpoint `#{$breakpoint}` nu există în $breakpoints.";
  }
}