@use '../abstracts/functions' as *;

.hero {
    position: relative;
    background-color: get-color(hero-bg);

    &__media {
        height: 43vh;
        min-height: 280px;
        max-height: 420px;
        display: flex;
        align-items: center;

        /* imaginea */
        background-image: url('/images/hero/home_hero-banner.webp');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; // ✅ păstrează imaginea, nu taie
    }


    &__inner {
        position: relative;
        z-index: 1;
        width: 100%;
    }

    &__content {
        max-width: 640px;
    }

    &__title {
        font-size: font-size(lg);
        margin-bottom: space(sm);
        color: get-color(white);
    }

    &__description {
        font-size: font-size(sm);
        color: get-color(white);
    }
}