@use './abstracts';
@use './base';
@use './layout';
@use './components';

/* FEATURE COMPONENTS */
@use '../components/layout/Header/header';
@use '../components/layout/MainNav/mainNav';
@use '../components/layout/Footer/footer';

@use '../components/home/HeroHero/homeHero';
@use '../components/home/HomeCategories/homeCategories';
@use '../components/home/HomeBenefits/homeBenefits';
@use '../components/home/HomeCTA/homeCTA';
@use '../components/home/HomeProjects/homeProjects';

@use '../components/ui/atoms/Button/button';
@use '../components/ui/atoms/Link/link';