@use './abstracts' as *;

// =====================================
// BASE
// =====================================
@use './base/reset';
@use './base/globals';
@use './base/typography';
@use './base/helpers';

// =====================================
// LAYOUT
// =====================================
@use './layout/grid';
@use './layout/container';

// =====================================
// COMPONENTS
// =====================================
@use './components/button';
@use './components/reveal';
@use './components/skeleton';

// =====================================
// PAGES / SECTIONS
// =====================================
@use './pages/home/index';

// =====================================
// FEATURE COMPONENTS
// =====================================
@use '../components/layout/Header/header';
@use '../components/layout/MainNav/mainNav';
@use '../components/layout/Footer/footer';

@use '../components/home/HeroHero/homeHero';
@use '../components/home/HomeCategories/homeCategories';
@use '../components/home/HomeBenefits/homeBenefits';
@use '../components/home/HomeCTA/homeCTA';
@use '../components/home/HomeProjects/homeProjects';