@use '../../abstracts/functions' as *;

.home-categories {
    padding: space(xl) 0;

    &__header {
        text-align: center;
        margin-bottom: space(xl);
    }

    &__title {
        font-size: font-size(xl);
        margin-bottom: space(sm);
    }

    &__subtitle {
        font-size: font-size(md);
        color: get-color(gray-700);
    }

    &__grid {
        display: flex;
        width: 100%;
        gap: 0 5px;
    }

    &__card {
        flex: 1 1 20%;
        max-width: 20%;
        display: block;
        text-decoration: none;
        background-color: get-color(white);
        border-radius: 12px;
        overflow: hidden;
        text-align: center;
        transition: background-color 0.25s ease;
    }

    &__card--support {
        background-color: get-color(accent-yellow);
    }

    &__image {
        position: relative;
        height: 180px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
            object-fit: contain;
        }
    }

    &__content {
        padding: space(md);
    }

    &__name {
        font-size: font-size(md);
        margin-bottom: space(xs);
        color: get-color(gray-900);
    }

    &__description {
        font-size: font-size(sm);
        color: get-color(gray-700);
    }
}