@use '../abstracts/variables' as *;

// =====================================
// GLOBAL TYPOGRAPHY
// =====================================
body {
    font-family: $font-family-base;
    font-size: fs(base);
    font-weight: weight(regular);
    line-height: 1.6;
    color: $color-border;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: weight(semibold);
    line-height: 1.2;
    color: $color-text;
    margin-bottom: space(sm);
}

h1 {
    font-size: fs(h1);
}

h2 {
    font-size: fs(h2);
}

h3 {
    font-size: fs(h3);
}

h4 {
    font-size: fs(h4);
}

// Text elements
p {
    font-size: fs(base);
    line-height: 1.7;
    margin-bottom: space(sm);
    color: $color-border;
}

small {
    font-size: fs(sm);
    color: $color-text-muted;
}

// Links
a {
    color: inherit;
    text-decoration: none;

}